@{
    ViewData["Title"] = "Plan Wedding";
}

@model Wedding

<div class="jumbotron text-center">
  <form asp-action="Create" asp-controller="Home" method="post" class="form-group">
    <h1 class="display-5">Plan Your Wedding:</h1>
    <span class="text-danger" asp-validation-for="Wedder1"></span>
    <label asp-for="Wedder1"></label>
    <input class="form-control" asp-for="Wedder1">

    <span class="text-danger" asp-validation-for="Wedder2"></span>
    <label asp-for="Wedder2"></label>
    <input class="form-control" asp-for="Wedder2">
    
    <span class="text-danger" asp-validation-for="Date"></span>
    <label asp-for="Date"></label>
    <input class="form-control" asp-for="Date">

    <input value="Create" type="submit">    
  </form>
</div>
